* {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

ul {
  padding: 0;
}



.cyrcle {
  background-color: #222;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: -10px 11.3px;
  border-radius: 50%;
  position: absolute;
}

.radiant p, .dire p {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  font-size: 260%;
  font-family: 'Kanit', sans-serif;
  line-height:1.2;
}


.radiant .ban li, .dire .ban li {
  display: inline-block;
  height:36px;
  width:64px;
  background: rgb(2,0,36);
  background: linear-gradient(142deg, rgba(2,0,36,1) 0%, rgba(48,48,48,1) 100%, rgba(0,212,255,1) 100%);
  margin: 0 8px 16px;
  font-size: 160%;
  color: #ccc;
  line-height: 1.55;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  user-select: none;
}

.radiant, .dire {
  /* border: 1px solid black; */
  display:inline-block;
}

.dire {
  float:right;
}

.radiant .pick li, .dire .pick li {
  display: inline-block;
  height:54px;
  width:96px;
  background: rgb(2,0,36);
  background: linear-gradient(142deg, rgba(2,0,36,1) 0%, rgba(48,48,48,1) 100%, rgba(0,212,255,1) 100%);
  margin: 0 8px;
  font-size: 240%;
  color: #ccc;
  line-height: 1.55;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  user-select: none;
}

.banned {
  display: none;
}

.line {
  transform-origin: left top;
  z-index: 1;
  /* border: 1.2px solid #fff8; */
  background: #fff8;
  height: 2.4px;
  position: absolute;
}

.field {
  background-color: #0aa;
  height: 100vh;
  width: 100%;
  padding:0 30px;
}

.hero-bane {
  background-image: url("https://www.dotabuff.com/assets/heroes/bane-fe919466e4795493cf6a78ae3808e55f4d39a0175aaa9ace2082063e693e888e.jpg");
  border: solid 3px #0f0;
}

.hero-mars {
  background-image: url("https://www.dotabuff.com/assets/heroes/mars-6a141629d4a8923e236bbcc94044e6b63299a1c05609c253b58d243218d614c6.jpg");

  border: solid 3px #33c;
}

.hero-shadow-demon {
  background-image: url("https://www.dotabuff.com/assets/heroes/shadow-demon-12fddd4c21003d3cb9b4b598cba9a1c03a95505360a69e90166b67b18f6030cd.jpg");
  border: solid 3px #0f0;
}

.hero-legion-commander {
  background-image: url("https://www.dotabuff.com/assets/heroes/legion-commander-e32e4a29b11eb2bc3e89b1dc21ffaee90f30e3949f3af95bcbc784b59428fb18.jpg");
  border: solid 3px #33c;
}

.hero-io {
  background-image: url("https://www.dotabuff.com/assets/heroes/io-fb15f1f252244a9948b345f6a1bacaa4daabb7b49351b47992b694d07335e403.jpg");
  border: solid 3px #0f0;
}

.hero-weaver {
  background-image: url("https://www.dotabuff.com/assets/heroes/weaver-5cc1a8369204ddb076b06719018d17334c3ae705eaf11f985e33db7265880f75.jpg");
  border: solid 3px #0f0;
}

.hero-invoker {
  background-image: url("https://www.dotabuff.com/assets/heroes/invoker-55181bdbd0495d779d0d42f765fb827f06eb447dc6f35b4866d1676ca10083e8.jpg");
  border: solid 3px #fc0;
}

.hero-tiny {
  background-image: url("https://www.dotabuff.com/assets/heroes/tiny-dce37f06e120325c885ffa7955f9a96473d4fb24622cee2c853fa6ff5bf4352a.jpg");
  border: solid 3px #c33;
}

.hero-grimstroke {
  background-image: url("https://www.dotabuff.com/assets/heroes/grimstroke-a83ff1fed4b9254d87504ee938128e18f00df3eac3499bfde53024d41c4a53a0.jpg");
  border: solid 3px #0f0;
}

.hero-enchantress {
  background-image: url("https://www.dotabuff.com/assets/heroes/enchantress-77ddddbbe730568c506af48adb29a1c3e96c315114ad504b726d1ad55050dc37.jpg");
  border: solid 3px #0f0;
}

.hero-bloodseeker {
  background-image: url("https://www.dotabuff.com/assets/heroes/bloodseeker-a2e5372a2e611f1ce8cd01ecf239f210f37e9a89197c8210c04ec3f478299116.jpg");
  border: solid 3px #c33;
}

.hero-pugna {
  background-image: url("https://www.dotabuff.com/assets/heroes/pugna-df1ff85956e77c794f8b8d033bc62140903c61381bc660135a448eea804fc65e.jpg");
  border-left: solid 3px #0f0;
  border-bottom: solid 3px #0f0;
  border-top: solid 3px #fc3;
  border-right: solid 3px #fc3;
}

.hero-storm-spirit {
  background-image: url("https://www.dotabuff.com/assets/heroes/storm-spirit-75d75f7569d02c8eb78f1061e08535d3a6f1b9dfa2df0dc9f91b567a87e17932.jpg");
  border: solid 3px #fc3;
}

.hero-sand-king {
  background-image: url("https://www.dotabuff.com/assets/heroes/sand-king-432149fc300e872e9ef144f203997596fc7ecb8738a635c3be62d8bcb2dd2570.jpg");
  border: solid 3px #33c;
}

.hero-leshrac {
  background-image: url("https://www.dotabuff.com/assets/heroes/leshrac-cb17a1ccabd7a609a39fbe3cc0fa85d24766dc617ce0b1ff09455cf97abd9584.jpg");
  border-left: solid 3px #c33;
  border-bottom: solid 3px #c33;
  border-top: solid 3px #fc3;
  border-right: solid 3px #fc3;
}

.hero-razor {
  background-image: url("https://www.dotabuff.com/assets/heroes/razor-cbf1d076372ebdb07fda63545918b89310b103996465a11be5ed8518ed65e18b.jpg");
  border-left: solid 3px #33c;
  border-bottom: solid 3px #33c;
  border-top: solid 3px #fc3;
  border-right: solid 3px #fc3;
}

.hero-tidehunter {
  background-image: url("https://www.dotabuff.com/assets/heroes/tidehunter-756a926564d5630b846593e777487bc6f22c238b79fca149cd0603c9f3c4ae4e.jpg");
  border: solid 3px #33c;
}

.hero-underlord {
  background-image: url("https://www.dotabuff.com/assets/heroes/underlord-09ce704167b9ca67dfcfc1a27aa27e645ce2419fff66ed60ba261d42f1bd5f00.jpg");
  border: solid 3px #33c;
}

.hero-chen {
  background-image: url("https://www.dotabuff.com/assets/heroes/chen-31a4e35a27a5f642f7979d43a5dddf24bfe1a53f7301e779f5cdf19a7ca435a2.jpg");
  border: solid 3px #0f0;
}

.hero-ember-spirit {
  background-image: url("https://www.dotabuff.com/assets/heroes/ember-spirit-825d6a76c284e12247e77d2ae468f1011232e0f4babc4efd7cccab0d18c8aba7.jpg");
  border-left: solid 3px #c33;
  border-bottom: solid 3px #c33;
  border-top: solid 3px #fc3;
  border-right: solid 3px #fc3;
}

.hero-chaos-knight {
  background-image: url("https://www.dotabuff.com/assets/heroes/chaos-knight-77b2b6ab77f1ebd4d01e7711b418d640f6f8c6397b189027508573b20e39e0d5.jpg");
  border-left: solid 3px #c33;
  border-bottom: solid 3px #c33;
  border-top: solid 3px #33c;
  border-right: solid 3px #33c;
}

.hero-mirana {
  background-image: url("https://www.dotabuff.com/assets/heroes/mirana-b04edb4fcfb6b10f21b6a27b7f72faeb69da6bf1f854c91b2fb965e077e58fbd.jpg");
  border: solid 3px #0f0;
}

.hero-wraith-king {
  background-image: url("https://www.dotabuff.com/assets/heroes/wraith-king-bde5d019af5e734332b2e049e4d1eecc8dafed1a5fd053edc82f79330ed0a27b.jpg");
  border: solid 3px #c33;
}

.hero-keeper-of-the-light {
  background-image: url("https://www.dotabuff.com/assets/heroes/keeper-of-the-light-815b359e80c48b4fbeb15b0c838c51c3efdc12acd2161eaad2608b6663498e4c.jpg");
  border-left: solid 3px #0f0;
  border-bottom: solid 3px #0f0;
  border-top: solid 3px #fc0;
  border-right: solid 3px #fc0;
}

.hero-pangolier {
  background-image: url("https://www.dotabuff.com/assets/heroes/pangolier-39345e9ff4a2eb42130db0ce2c7cb72cc6b97b8ffea1f0ce3b61bccb0a49b195.jpg");
  border-left: solid 3px #33c;
  border-bottom: solid 3px #33c;
  border-top: solid 3px #fc0;
  border-right: solid 3px #fc0;
}

.hero-phantom-assassin {
  background-image: url("https://www.dotabuff.com/assets/heroes/phantom-assassin-4f13bdf71bf72dd8099eb7bc811a8f62d2ee02d3d0d522cc8a5b2df46e5074a7.jpg");
  border: solid 3px #c00;
}

.hero-jakiro {
  background-image: url("https://www.dotabuff.com/assets/heroes/jakiro-13b27acc1302b653da64a4b6e37686189a79a525e97e12e60f2457659412dcde.jpg");
  border: solid 3px #0f0;
}

.hero-anti-mage {
  background-image: url("https://www.dotabuff.com/assets/heroes/anti-mage-e9961542661f6f398599713b9cb8fee5aa2dd9ae12bf253f67cf484c5cdfc1ce.jpg");
  border: solid 3px #c33;
}

.hero-timbersaw {
  background-image: url("https://www.dotabuff.com/assets/heroes/timbersaw-89797aee60fbd545f673815ae25157fb370f5cc92fb5a57171b45b4e0f0847ba.jpg");
  border: solid 3px #33c;
}

.hero-hoodwink {
  background-image: url("https://www.dotabuff.com/assets/heroes/hoodwink-9e7fa68672aadeb468e0fb6931164e5a8b29e793103faa89aff8b85568788d06.jpg");
  border: solid 3px #0f0;
}

.hero-necrophos {
  background-image: url("https://www.dotabuff.com/assets/heroes/necrophos-731919b45d88a2e910401b4355262720eb970f0a4a08259cafb0cfb177d59a92.jpg");
  border-left: solid 3px #c33;
  border-bottom: solid 3px #c33;
  border-top: solid 3px #fc0;
  border-right: solid 3px #fc0;
}

.hero-death-prophet {
  background-image: url("https://www.dotabuff.com/assets/heroes/death-prophet-c9efa1965eed6e1bde1987f2f7969d59a74aae1f92329a339d00c744968b7de0.jpg");
  border-left: solid 3px #0f0;
  border-bottom: solid 3px #0f0;
  border-top: solid 3px #fc0;
  border-right: solid 3px #fc0;
}

.hero-dragon-knight {
  background-image: url("https://www.dotabuff.com/assets/heroes/dragon-knight-a42ca0a4d87678a41c0fef7c3b380075b4b8065364c1c05c342a0f1feb8fd594.jpg");
  border-left: solid 3px #33c;
  border-bottom: solid 3px #33c;
  border-top: solid 3px #fc0;
  border-right: solid 3px #fc0;
}

.hero-visage {
  background-image: url("https://www.dotabuff.com/assets/heroes/visage-cc4def230f8c1741c6d9eaa6f35e2b5d9a7437deb34bb01deedeb9e11cae8df5.jpg");
  border-left: solid 3px #c33;
  border-bottom: solid 3px #c33;
  border-top: solid 3px #fc0;
  border-right: solid 3px #fc0;
}

.hero-spirit-breaker {
  background-image: url("https://www.dotabuff.com/assets/heroes/spirit-breaker-7d79bf8f58ff849459011c40b5748cd04b7c802f2fa99c3e41f4cfaf9b289534.jpg");
  border-left: solid 3px #0f0;
  border-bottom: solid 3px #0f0;
  border-top: solid 3px #33c;
  border-right: solid 3px #33c;
}

.hero-kunkka {
  background-image: url("https://www.dotabuff.com/assets/heroes/kunkka-acc101ad9b7a74e8c1d0011323807dcb627891eeafeeb8074f6e6b18650ed42f.jpg");
  border-left: solid 3px #fc0;
  border-bottom: solid 3px #fc0;
  border-top: solid 3px #c33;
  border-right: solid 3px #c33;
}

.hero-skywrath-mage {
  background-image: url("https://www.dotabuff.com/assets/heroes/skywrath-mage-71658cc597c3b963d7c0b832ff334ff684543098a4f80ee40c225c89c6721843.jpg");
  border-left: solid 3px #fc0;
  border-bottom: solid 3px #fc0;
  border-top: solid 3px #0f0;
  border-right: solid 3px #0f0;
}

.hero-natures-prophet {
  background-image: url("https://www.dotabuff.com/assets/heroes/natures-prophet-4089cb467a9b52ba5f58271181cd59d54d552fc4f16ecaec5d1d8347b0ed47aa.jpg");
  border-left: solid 3px #c33;
  border-bottom: solid 3px #c33;
  border-top: solid 3px #0f0;
  border-right: solid 3px #0f0;
}

.hero-techies {
  background-image: url("https://www.dotabuff.com/assets/heroes/techies-58f15ad2d94b54c903a73470de0233f85e3211b3190ecac86dd850044de2e34f.jpg");
  border: solid 3px #0f0;
}

.hero-tusk {
  background-image: url("https://www.dotabuff.com/assets/heroes/tusk-8124206695c2369632918603fd991e15c9186ee22227e606139e5cc23090f2a6.jpg");
  border: solid 3px #0f0;
}

.hero-terrorblade {
  background-image: url("https://www.dotabuff.com/assets/heroes/terrorblade-f3df499193b9152861f33d409733d82f0ed9e3ccc94a0cb361dafc65705c3787.jpg");
  border: solid 3px #c33;
}

.hero-viper {
  background-image: url("https://www.dotabuff.com/assets/heroes/viper-acd38fa2d1a73fd0c23f363f0611235d6ebbcc869e567f2cd77a91e1f89f96d9.jpg");
  border: solid 3px #fc0;
}

.hero-medusa {
  background-image: url("https://www.dotabuff.com/assets/heroes/medusa-b1ed5bf81314ba70b1724e049dfeaaceeed021e46461cbc6185684929062d77f.jpg");
  border: solid 3px #c33;
}

.hero-night-stalker {
  background-image: url("https://www.dotabuff.com/assets/heroes/night-stalker-a2f04592ad14fd748a59e6a52b59035e1c606ea5d053facdc3b8c7da53dad6f0.jpg");
  border: solid 3px #33c;
}
