* {
  margin: 0;
  box-sizing: border-box;
}


.cyrcle {
  background-color: #222;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: -10px 11.3px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid white;
}

.banned {
  display: none;
}

.line {
  transform-origin: left top;
  z-index: 1;
  border: 1.2px solid #fff8;
  height: 0;
  position: absolute;
}

.field {
  background-color: #0aa;
  height: 100vh;
  width: 100%;
}
