* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}


ul {
  padding: 0;
}



.cyrcle {
  background-color: #222;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: -10px 11.3px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid white;
}

.radiant p, .dire p {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  font-size: 260%;
  font-family: 'Kanit', sans-serif;
  line-height:1.2;
}


.radiant .ban li, .dire .ban li {
  position: relative;
  display: inline-block;
  height:36px;
  width:64px;
  background: rgb(2,0,36);
  background: linear-gradient(142deg, rgba(2,0,36,1) 0%, rgba(48,48,48,1) 100%, rgba(0,212,255,1) 100%);
  margin: 0 8px 16px;
  user-select: none;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.radiant, .dire {
  /* border: 1px solid black; */
  display:inline-block;
}

.select-in-picks {
  height: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  background: linear-gradient(142deg, rgba(2,0,36,1) 0%, rgba(48,48,48,1) 100%, rgba(0,212,255,1) 100%);
  color: #ccc;
  line-height: 1.55;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 100%;
  user-select: none;
  background-size: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-in-picks::-ms-expand {
  display: none;
}


.select-in-picks option {
  font-size: 24px;
}

.dire {
  float:right;
}

.radiant .pick li, .dire .pick li {
  display: inline-block;
  height:54px;
  width:96px;
  background: rgb(2,0,36);
  background: linear-gradient(142deg, rgba(2,0,36,1) 0%, rgba(48,48,48,1) 100%, rgba(0,212,255,1) 100%);
  font-size: 260%;
  margin: 0 8px;
  position: relative;
}

.banned {
  display: none;
}

.line {
  transform-origin: left top;
  z-index: 1;
  /* border: 1.2px solid #fff8; */
  background: #fff8;
  height: 2.4px;
  position: absolute;
}

.field {
  background-color: #0aa;
  height: 100vh;
  width: 100%;
  padding:0 30px;
}
